main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: full;
}

h1 {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
